<div class="list">
    <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input type="text">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Location</span>
        <input type="text">
    </label>
    <label class="item item-input item-stacked-label">
        <span class="input-label">Schedule</span>
        <input type="text">
    </label>
</div>
<div class="padding">
    <button class="button button-block button-positive">
        Create Cell Group
    </button>
</div>