<?xml version='1.0' encoding='utf-8'?>
<widget id="com.whinec.apps.cgb" version="0.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cell Group Book</name>
    <description>
        A simple app to view and manage church cell group.
    </description>
    <author email="pzmosquito@gmail.com">
        PZ
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="tel:*" launch-external="yes" />
    <access origin="mailto:*" launch-external="yes" />
</widget>