<!DOCTYPE html>
<html ng-app="cgb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Cell Group Book</title>

    <link rel="stylesheet" href="assets/css/style.css"/>
    <script type="text/javascript" src="assets/js/script.js"></script>

    <!-- needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>
</head>
<body ng-controller="MainCtrl">
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class="bar-dark">
                <button class="button button-icon icon ion-navicon" ng-click="toggleMenu()"></button>
                <h1 class="title">Cell Group Book</h1>
            </ion-header-bar>
            <ion-content>
                <ui-view></ui-view>
            </ion-content>
        </ion-side-menu-content>
        <ion-side-menu side="left">
            <ion-header-bar class="bar-dark">
                <h1 class="title">Menu</h1>
            </ion-header-bar>
            <ion-content>
                <div class="card">
                    <div class="item item-text-wrap">
                        <div class="text-left">組長: Kevin, Ivy</div>
                    </div>
                </div>
                <div class="list">
                    <a class="item" ng-click="selectMenu('group.view')">小組信息</a>
                    <a class="item" ng-click="selectMenu('member.list')">成員列表</a>
                    <a class="item" ng-click="selectMenu('member.bd')">成員生日表</a>
                    <a class="item" ng-click="selectMenu('bank.list')">小組經費</a>
                    <a class="item" ng-click="selectMenu('member.login')" ng-if="!loggedIn">管理員登錄</a>
                    <a class="item" ng-click="logout()" ng-if="loggedIn">管理員登出</a>
                </div>
            </ion-content>
            <ion-footer-bar class="bar-stable">
                Created by PZ
            </ion-footer-bar>
        </ion-side-menu>
    </ion-side-menus>
</body>
</html>