<!DOCTYPE html>
<html ng-app="cgb">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Cell Group Book</title>

    <!-- needed for Cordova/PhoneGap (will be a 404 during development) -->
    <script type="text/javascript" charset="utf-8" src="cordova.js"></script>

    <link rel="stylesheet" href="assets/css/style.css"/>
    <script type="text/javascript" src="assets/js/script.js"></script>
</head>
<body ng-controller="MainCtrl">
    <ion-side-menus>
        <ion-side-menu-content>
            <ion-header-bar class="bar-dark">
                <button class="button button-icon icon ion-navicon" ng-click="toggleMenu()"></button>
                <h1 class="title" ng-if="groupId !== null">{{data.group.name}}</h1>
                <h1 class="title" ng-if="groupId === null">國際大使命教會</h1>
                <div class="buttons" ng-if="groupId !== null"><button class="button button-icon icon ion-refresh" ng-click="reload()"></button></div>
            </ion-header-bar>
            <ion-content>
                <ui-view></ui-view>
            </ion-content>
        </ion-side-menu-content>
        <ion-side-menu side="left" ng-init="easterEggCount = 10">
            <ion-header-bar class="bar-dark">
                <h1 class="title">Cell Group Book</h1>
            </ion-header-bar>
            <ion-content>
                <div style="background-color: #000;">
                    <img src="assets/imgs/church_logo.jpg" style="max-width: 100%;"/>
                </div>
                <div class="list">
                    <a class="item{{selectedMenu('home')}}" ng-click="selectMenu('home')">主界面</a>
                    <a class="item{{selectedMenu('group.view')}}" ng-click="selectMenu('group.view')" ng-if="groupId !== null">小組信息</a>
                    <a class="item{{selectedMenu('member.list')}}" ng-click="selectMenu('member.list')" ng-if="groupId !== null">小組成員</a>
                    <a class="item{{selectedMenu('member.bd')}}" ng-click="selectMenu('member.bd')" ng-if="groupId !== null">生日表</a>
                    <a class="item{{selectedMenu('bank.list')}}" ng-click="selectMenu('bank.list')" ng-if="groupId !== null">小組經費</a>
                    <a class="item{{selectedMenu('member.login')}}" ng-click="selectMenu('member.login')" ng-if="groupId !== null && !loggedIn">管理員登錄</a>
                    <a class="item" ng-click="logout()" ng-if="loggedIn">管理員登出</a>
                    <a class="item{{selectedMenu('group.join')}}" ng-click="selectMenu('group.join')" ng-if="groupId !== null">加入其他小組</a>
                    <a class="item{{selectedMenu('group.join')}}" ng-click="selectMenu('group.join')" ng-if="groupId === null">加入小組</a>
                    <a class="item{{selectedMenu('group.new')}}" ng-click="selectMenu('group.new')" ng-if="easterEggCount === 0">新建小組</a>
                </div>
            </ion-content>
            <ion-footer-bar class="bar-stable">
                <h1 class="title" ng-click="easterEggCount = easterEggCount - 1">Created by PZ</h1>
            </ion-footer-bar>
        </ion-side-menu>
    </ion-side-menus>
</body>
</html>