<div class="padding" ng-if="loggedIn">
    <a class="button button-block button-positive" ui-sref="member.new">
        Add New Member
    </a>
</div>
<div class="list">
    <a class="item" ng-repeat="member in data.members" ui-sref="member.view({ 'memberId': member.$id})">
        <h2 ng-if="member.cnName !== undefined && member.enName !== undefined">{{member.cnName}} ({{member.enName}})</h2>
        <h2 ng-if="member.enName === undefined">{{member.cnName}}</h2>
        <h2 ng-if="member.cnName === undefined">{{member.enName}}</h2>
        <p>{{formatPhone(member.phone)}}</p>
    </a>
</div>