<div class="list">
    <a class="item">
        <h2>Chinese Name</h2>
        <p ng-bind="member.cnName"></p>
    </a>
    <a class="item">
        <h2>English Name</h2>
        <p ng-bind="member.enName"></p>
    </a>
    <a class="item">
        <h2>Date of Birth</h2>
        <p ng-bind="member.dob"></p>
    </a>
    <a class="item">
        <h2>Email</h2>
        <p ng-bind="member.email"></p>
    </a>
    <a class="item">
        <h2>Phone</h2>
        <p ng-bind="formatPhone(member.phone)"></p>
    </a>
</div>
<div ng-if="loggedIn">
    <div class="row">
        <div class="col">
            <a class="button button-block button-stable" ui-sref="member.list">Back</a>
        </div>
        <div class="col">
            <a class="button button-block button-positive" ui-sref="member.edit({ 'memberId': member.$id })">
                Edit
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="button button-block button-assertive" ng-click="remove()">
                Delete
            </a>
        </div>
    </div>
</div>
<div ng-if="!loggedIn">
    <div class="row">
        <div class="col">
            <a class="button button-block button-stable" ui-sref="member.list">Back</a>
        </div>
    </div>
</div>