<div class="list">
    <a class="item">
        <h2>中文名</h2>
        <p ng-bind="member.cnName"></p>
    </a>
    <a class="item">
        <h2>英文名</h2>
        <p ng-bind="member.enName"></p>
    </a>
    <a class="item">
        <h2>生日</h2>
        <p ng-bind="member.dob"></p>
    </a>
    <a class="item">
        <h2>電子郵件</h2>
        <p ng-bind="member.email"></p>
    </a>
    <a class="item">
        <h2>電話號碼</h2>
        <p ng-bind="formatPhone(member.phone)"></p>
    </a>
</div>
<div ng-if="loggedIn">
    <div class="row">
        <div class="col">
            <a class="button button-block button-stable" ui-sref="member.list">返回</a>
        </div>
        <div class="col">
            <a class="button button-block button-positive" ui-sref="member.edit({ 'memberId': member.$id })">
                修改
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="button button-block button-assertive ion-trash-b" ng-click="remove()">
                刪除組員
            </a>
        </div>
    </div>
</div>
<div ng-if="!loggedIn">
    <div class="row">
        <div class="col">
            <a class="button button-block button-stable" ui-sref="member.list">返回</a>
        </div>
    </div>
</div>