<div class="list">
    <a class="item">
        <h2>Name</h2>
        <p ng-bind="data.group.name"></p>
    </a>
    <a class="item">
        <h2>Language</h2>
        <p ng-bind="data.group.lang"></p>
    </a>
    <a class="item">
        <h2>Location</h2>
        <p ng-bind="data.group.location"></p>
    </a>
    <a class="item">
        <h2>Schedule</h2>
        <p ng-bind="data.group.schedule"></p>
    </a>
</div>
<div class="row" ng-if="loggedIn">
    <div class="col">
        <a class="button button-block button-positive" ui-sref="group.edit({ 'groupId': group.$id })">
            Edit
        </a>
    </div>
</div>