<div class="list">
    <a class="item">
        <h2>小組名稱</h2>
        <p ng-bind="data.group.name"></p>
    </a>
    <a class="item">
        <h2>主要語言</h2>
        <p ng-bind="data.group.lang"></p>
    </a>
    <a class="item">
        <h2>聚會地點</h2>
        <p ng-bind="data.group.location"></p>
    </a>
    <a class="item">
        <h2>聚會時間</h2>
        <p ng-bind="data.group.schedule"></p>
    </a>
</div>
<div class="row" ng-if="loggedIn">
    <div class="col">
        <a class="button button-block button-positive" ui-sref="group.edit">
            修改
        </a>
    </div>
</div>