<div class="card">
    <div class="item item-divider">
        主禱文
    </div>
    <div class="item item-text-wrap">
        我們在天上的父，
        願人都尊祢的名為聖，
        願祢的國降臨，
        願祢的旨意行在地上，
        如同行在天上。
        我們日用的飲食，
        今日賜給我們，
        免我們的債，
        如同我們免了人的債，
        不叫我們遇見試探，
        救我們脫離兇惡，
        因為國度、權柄、榮耀，全是祢的，
        直到永遠。阿們！
        <p>马太福音6:9-13</p>
    </div>
</div>

<div class="card">
    <div class="item item-divider">
        國際大使命教會
    </div>
    <div class="item item-text-wrap">
        16152 Gale Avenue
        <br/>
        Hacienda Heights, CA 91745
        <br/><br/>
        網址：www.gcciusa.com
        <br/>
        電話：(626) 961-1659
        <br/>
        傳真：(626) 956-0558
        <br/>
        電子郵件：ucchh@hotmail.com
    </div>
</div>

<div class="card">
    <div class="item item-divider">
        聚會時間
    </div>
    <div class="item item-text-wrap">
        <b>主日崇拜</b>
        <br/>
        第一堂：星期日 9am-10:30am
        <br/>
        第二堂：星期日 11am-12:30pm
        <br/><br/>
        <b>兒童教會</b>
        <br/>
        星期日 9am-10:30am
        <br/><br/>
        兒童主日學
        <br/>
        星期日 11am-12:30pm
        <br/><br/>
        青少年主日學
        <br/>
        星期日 11am-12:30pm
    </div>
</div>