<div class="padding">
    <button class="button button-block button-positive" ng-click="addNew()">
        Add New Member
    </button>
</div>
<div class="list">
    <a class="item" ng-repeat="member in members" ui-sref="member.view({ 'groupId': groupId, 'memberId': member.$id})">
        <h2 ng-if="member.cnName !== undefined && member.enName !== undefined">{{member.cnName}} ({{member.enName}})</h2>
        <h2 ng-if="member.enName === undefined">{{member.cnName}}</h2>
        <h2 ng-if="member.cnName === undefined">{{member.enName}}</h2>
        <p>{{formatPhone(member.phone)}}</p>
    </a>
</div>