<div class="list">
    <a class="item">
        <h2>Chinese Name</h2>
        <p ng-bind="member.cnName"></p>
    </a>
    <a class="item">
        <h2>English Name</h2>
        <p ng-bind="member.enName"></p>
    </a>
    <a class="item">
        <h2>Date of Birth</h2>
        <p ng-bind="member.dob"></p>
    </a>
    <a class="item">
        <h2>Email</h2>
        <p ng-bind="member.email"></p>
    </a>
    <a class="item">
        <h2>Phone</h2>
        <p ng-bind="member.phone"></p>
    </a>
</div>
<div class="padding">
    <a class="button button-block button-positive">
        Edit Info
    </a>
</div>